sudo: required
language: generic

services:
  - docker

env:
  - NAME=elasticsearch TAGS="livingdocs/elasticsearch:latest livingdocs/elasticsearch:2 livingdocs/elasticsearch:2.4 livingdocs/elasticsearch:2.4.5"

script:
  - docker build -t $NAME .

after_success:
  - |
    if [ "$TRAVIS_BRANCH" == "master" ] && [ "$TRAVIS_PULL_REQUEST" == "false" ]; then
      docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"
      for tag in $TAGS; do
        docker tag $NAME $tag;
        echo "push the image $tag";
        docker push $tag 1>/dev/null;
        echo "successfully pushed the image $tag";
      done
    fi
